

    div{
        background-color: maroon;
        color:lightblue;
        font-size: 25px;
        font-family: 'Fira Sans', sans-serif;
        margin-bottom:10px;
        margin-top: 10px;
        
        
        }
    

div.day{
color:mediumvioletred
    
    
}
        div.day-box.prep{
            float:left;
            clear:left;
            border-style: solid;
            border-width: 5px;
            border-color:cadetblue;
            padding: 5px;
            margin-right: 10px;
            height:inherit;
}
div.day-box.current{
            float:left;
            border-style: solid;
            border-width: 5px;
            border-color:cadetblue;
            padding: 5px;
            margin-right:;
            height:inherit;
}
div.day-box.completed{
            float:bottom;
            border-style: solid;
            border-width: 5px;
            border-color:cadetblue;
            padding: 5px;
            margin-right: 10px;
}
body{
    background-color:bisque;
    
}
h1{
    color:cadetblue;
    font-size: 65px;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    background-image: url("https://www.flickr.com/photos/davedugdale/4959660085");
    
}
div.header
{
    float:right;
                float:bottom;
            border-style: solid;
            border-width: 5px;
            border-color:cadetblue;
            padding: 5px;
            margin-right: 10px;
    
}
span.username{
    float:right;
    
}
div.person_info{
    float:right;
}




















